{
  "branches": "main",
  "plugins": [
    ["@semantic-release/github", {
      "assets": [
        {path: 'katex.tar.gz', label: 'tarball'},
        {path: 'katex.zip', label: 'zip'},
      ],
    }],
  ],
}
